body {
    background: transparent;
    margin-bottom: 80px;
    text-align: center;
  }
  
  p {
    color: #4F544B;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 1rem;
    font-weight: bold;
  }
  
  html {
    background: linear-gradient(to bottom, rgb(223, 247, 225), rgb(240, 240, 230));
    min-height: 100%;
    position: relative;
  }

  h1 {
    color: #69695d;  
    font-family: 'Lobster'; 
  }

  p {
    color: #69695d;  
    font-family: 'Lobster'; 
  }

  #form {
    color: #69695d;  
    font-family: 'Lobster'; 
  }